@{
  ViewBag.Title = "Home - D3LFG";
}
@section Scripts{
  <script type="text/javascript" src="~/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="~/js/app.js"></script>
  <script type="text/javascript" src="~/js/groupController.js"></script>

}

<div class="container-fluid ng-cloak" ng-app="app" ng-controller="groupController as vm">

  <div class="row" style="margin-top: 65px" ng-cloak>
    <button class="btn btn-default" ng-click="vm.editGroup()">Hellllo</button>
    <div class="col-sm-10 col-sm-offset-1">
      <form role="form" class="form-group" method="post" ng-submit="vm.addGroup()" ng-show="!vm.groupCreated">
        <div class="row">
          <div class="col-sm-4">
            <label class="control-label" for="bnetInput">Description</label>
            <input type="text" class="form-control" id="bnetInput" placeholder="e.g. lf2m bounties t11" ng-model="vm.newGroup.description" />
          </div>
          <div class="col-sm-3">
            <label class="control-label" for="activitySelect">Activity</label>
            <select class="form-control" id="activitySelect" ng-model="vm.newGroup.activity" ng-change="vm.activityChanged()">
              <option>Rifts</option>
              <option>Greater Rifts</option>
              <option>Bounties</option>
              <option>Ubers</option>
              <option>Power Leveling</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label class="control-label" for"regionSelect">Region</label>
            <select class="form-control" id="regionSelect" ng-model="vm.newGroup.region">
              <option>North America</option>
              <option>Europe</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label class="control-label" for="paragonSelect">Paragon</label>
            <select class="form-control" id="paragonSelect" ng-model="vm.newGroup.paragon">
              <option>0</option>
              <option>100</option>
              <option>200</option>
              <option>300</option>
              <option>400</option>
              <option>500</option>
              <option>600</option>
              <option>700</option>
              <option>800</option>
              <option>900</option>
              <option>1000</option>
            </select>
          </div>
        </div>
        <div class="row form-group" ng-show="vm.showDifficulty">
          <div class="col-sm-3 col-sm-offset-4">
            <label class="control-label" for="difficultySelect">Difficulty</label>
            <select id="difficultySelect" class="form-control" ng-model="vm.newGroup.difficulty">
              <option>Normal</option>
              <option>Hard</option>
              <option>Expert</option>
              <option>Master</option>
              <option>Torment I</option>
              <option>Torment II</option>
              <option>Torment III</option>
              <option>Torment IV</option>
              <option>Torment V</option>
              <option>Torment VI</option>
              <option>Torment VII</option>
              <option>Torment VIII</option>
              <option>Torment IX</option>
              <option>Torment X</option>
              <option selected="selected">Torment XI</option>
              <option>Torment XII</option>
              <option>Torment XIII</option>
            </select>
          </div>
        </div>
        <div class="row form-group" ng-show="vm.greaterRift">
          <div class="col-sm-3 col-sm-offset-4">
            <label class="control-label" for="greaterRiftSelect">GR Difficulty</label>
            <select id="greaterRiftSelect" class="form-control" ng-model="vm.newGroup.grLevel">
              <option>20-25</option>
              <option>26-30</option>
              <option>31-35</option>
              <option>36-40</option>
              <option>41-45</option>
              <option>46-50</option>
              <option selected="selected">51-55</option>
              <option>56-60</option>
              <option>61-65</option>
              <option>66-70</option>
              <option>71-75</option>
              <option>76-80</option>
              <option>81-85</option>
              <option>86-90</option>
              <option>91-95</option>
              <option>96-100</option>
              <option>101-105</option>
              <option>105+</option>
            </select>
          </div>
        </div>

        @{ if (User.Identity.IsAuthenticated)
          {
            <div class="row text-center">
              <input type="submit" class="btn btn-default" value="Create Group">
            </div>
          }
          else
          {
            <div class="row text-center">
              <h4>To create a group or filter groups, please <a asp-controller="Home" asp-action="BeginLogin">login</a> with your Battle.net account.</h4>
            </div>
          }
        }
      </form>
    </div>
  </div>

  <div class="row" ng-cloak ng-show="vm.groupCreated">
    <div class="col-sm-10 col-sm-offset-1">
      <div ng-controller="chatController">
        <div class="myGroup">
          <div class="row groupOptionsRow">
            <div class="col-sm-4 text-xs-center text-sm-left">
              <button class="btn btn-default">Edit</button>
            </div>
            <div class="col-sm-4 text-xs-center text-sm-center">
              <button class="btn btn-default">Refresh</button>
            </div>
            <div class="col-sm-4 col-xs-12 text-xs-center text-sm-right">
              <button class="btn btn-outline-danger btn-danger">Delete</button>
            </div>
          </div>
          <div class="row groupTopRow">
            <div class="col-sm-4 text-xs-center text-sm-left">
              {{vm.newGroup.activity}}
            </div>
            <div class="col-sm-4 text-xs-center text-sm-center">
              {{vm.newGroup.battleTag}}
            </div>
            <div class="col-sm-4 col-xs-12 text-xs-center text-sm-right">
              {{vm.newGroup.region}}
            </div>
          </div>
          <div class="row groupDescriptionRow">
            <div class="col-sm-8 col-sm-offset-2 text-center">
              {{vm.newGroup.description}}
            </div>
          </div>
          <div class="row groupBottomRow">
            <div class="col-sm-5 text-xs-center text-sm-left">
              {{vm.newGroup.difficulty}} {{vm.newGroup.grLevel}}
            </div>
            <div class="col-sm-2 text-xs-center">
              <button class="btn btn-sm btn-default" ng-click="hello()">Chat</button>
            </div>
            <div class="col-sm-5 text-xs-center text-sm-right">
              Minimum Paragon: {{vm.newGroup.paragon}}
            </div>
          </div>
        </div>
        <div class="row chatRow" ng-show="showChat">
          <div class="col-sm-8 col-sm-offset-2 text-center chatBox">
            <div style="color: black">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-cloak>
    <div class="col-sm-10 col-sm-offset-1">
      <div ng-repeat="group in vm.groups" ng-controller="chatController">
        <div class="groupRow">
          <div class="row groupTopRow">
            <div class="col-sm-4 text-xs-center text-sm-left">
              {{group.activity}}
            </div>
            <div class="col-sm-4 text-xs-center text-sm-center">
              {{group.battleTag}}
            </div>
            <div class="col-sm-4 col-xs-12 text-xs-center text-sm-right">
              {{group.region}}
            </div>
          </div>
          <div class="row groupDescriptionRow">
            <div class="col-sm-8 col-sm-offset-2 text-center">
              {{group.description}}
            </div>
          </div>
          <div class="row groupBottomRow">
            <div class="col-sm-5 text-xs-center text-sm-left">
              {{group.difficulty}} {{group.grLevel}}
            </div>
            <div class="col-sm-2 text-xs-center">
              <button class="btn btn-sm btn-default" ng-click="hello()">Chat</button>
            </div>
            <div class="col-sm-5 text-xs-center text-sm-right">
              Minimum Paragon: {{group.paragon}}
            </div>
          </div>
        </div>
        <div class="row chatRow" ng-show="showChat">
          <div class="col-sm-8 col-sm-offset-2 text-center chatBox">
            <div style="color: black">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
